/* CSS declarations go here */
header, body, footer {
      padding-left: 240px;
}

.employee-age{
    font-weight: bold;
}

.sidebar-logo{
    max-height: 50px;
    margin-top: 10%;
}

.brand-logo{
    margin-left: 20px;
}

.status-icon{
    margin-top:1%;
}

.status-available{
    color: #0AE90A;
    text-shadow: 0px 0px 5px #03CE12;
}

.status-unavailable{
    color: #ff0000;
    text-shadow: 0px 0px 5px #bc0000;
}

.calendar{
    margin: 2% 0% 5%;
}

.profile-card{
    margin-top: 8%
}

.welcomeContainer{
    margin-right: 1%;
}

.handCursor{
    cursor: pointer; 
    cursor: hand;
}

#toast-container {
  right: 2%;
  top: 7%;
}


.picker__date-display{
    background-color: #1a237e;
}

.picker__weekday-display{
    background-color: #0F1553;
}